.venv/
venv/
env/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.env
*.log

# Python packaging
build/
dist/
*.egg-info/

# Local data
data/raw/*
data/processed/*
data/embeddings/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/embeddings/.gitkeep
# Vector databases
*.faiss
*.index
chroma/
vectorstore/

# OS
.DS_Store
Thumbs.db
